<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="FixStore.Properties.Settings.FixMessageStoreConnectionString" connectionString="Data Source=ROBIN-SATELLITE\SQLEXPRESS;Initial Catalog=FixMessageStore;Integrated Security=True" providerName="System.Data.SqlClient"/>
        <add name="FixStore.Properties.Settings.MetadataDNAConnectionString" connectionString="Data Source=ROBIN-SATELLITE\SQLEXPRESS;Initial Catalog=MetadataDNA;Integrated Security=True" providerName="System.Data.SqlClient"/>
    </connectionStrings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
