<?xml version="1.0"?>
<configuration>
	<configSections>
	</configSections>
	<connectionStrings>
  <add name="Mapping.Properties.Settings.PTEMappingConnectionString" connectionString="Data Source=ROBIN-SATELLITE\SQLEXPRESS;Initial Catalog=PTEMapping;User ID=sa;Password=rq74we56" providerName="System.Data.SqlClient"/>
  <add name="Metadata.Properties.Settings.MetadataDNAConnectionString" connectionString="Data Source=ROBIN-SATELLITE\SQLEXPRESS;Initial Catalog=MetadataDNA;Integrated Security=True" providerName="System.Data.SqlClient"/>
  <add name="Metadata.Properties.Settings.MetadataDNAConnectionString1" connectionString="Data Source=ROBIN-SATELLITE\SQLEXPRESS;Initial Catalog=MetadataDNA;Integrated Security=True" providerName="System.Data.SqlClient"/>
  <add name="Metadata.Properties.Settings.PTEMetadataConnectionString" connectionString="Data Source=ROBIN-SATELLITE\SQLEXPRESS;Initial Catalog=PTEMetadata;Persist Security Info=True;User ID=sa;Password=rq74we56" providerName="System.Data.SqlClient"/>
  <add name="Metadata.Properties.Settings.PTEMappingConnectionString" connectionString="Data Source=ROBIN-SATELLITE\SQLEXPRESS;Initial Catalog=PTEMapping;User ID=sa;Password=rq74we56" providerName="System.Data.SqlClient"/>
  <add name="Metadata.Properties.Settings.MetadataDNAConnectionString2" connectionString="Data Source=ROBIN-SATELLITE\SQLEXPRESS;Initial Catalog=MetadataDNA;Integrated Security=True" providerName="System.Data.SqlClient"/>
  <add name="Metadata.Properties.Settings.MetadataDNAConnectionString3" connectionString="Data Source=ROBIN-SATELLITE\SQLEXPRESS;Initial Catalog=MetadataDNA;User ID=sa;Password=rq74we56" providerName="System.Data.SqlClient"/>
  <add name="Mapping.Properties.Settings.MetadataDNAConnectionString" connectionString="Data Source=ROBIN-SATELLITE\SQLEXPRESS;Initial Catalog=MetadataDNA;Integrated Security=True" providerName="System.Data.SqlClient"/>
  <add name="Mapping.Properties.Settings.MetadataDNAConnectionString1" connectionString="Data Source=ROBIN-SATELLITE\SQLEXPRESS;Initial Catalog=MetadataDNA;Integrated Security=True" providerName="System.Data.SqlClient"/>
  <add name="Mapping.Properties.Settings.PTEMetadataConnectionString" connectionString="Data Source=ROBIN-SATELLITE\SQLEXPRESS;Initial Catalog=PTEMetadata;Persist Security Info=True;User ID=sa;Password=rq74we56" providerName="System.Data.SqlClient"/>
  <add name="Mapping.Properties.Settings.MetadataDNAConnectionString2" connectionString="Data Source=ROBIN-SATELLITE\SQLEXPRESS;Initial Catalog=MetadataDNA;Integrated Security=True" providerName="System.Data.SqlClient"/>
  <add name="Mapping.Properties.Settings.MetadataDNAConnectionString3" connectionString="Data Source=ROBIN-SATELLITE\SQLEXPRESS;Initial Catalog=MetadataDNA;User ID=sa;Password=rq74we56" providerName="System.Data.SqlClient"/>
  <add name="Mapping.Properties.Settings.MappingDNAConnectionString" connectionString="Data Source=ROBIN-SATELLITE\SQLEXPRESS;Initial Catalog=MappingDNA;Persist Security Info=True;User ID=sa;Password=rq74we56" providerName="System.Data.SqlClient"/>
 </connectionStrings>
	<startup><supportedRuntime version="v2.0.50727"/></startup><system.serviceModel>
		<behaviors>
			<serviceBehaviors>
				<behavior name="Utilities.MetadataDNAServiceBehavior">
					<serviceMetadata httpGetEnabled="true"/>
					<serviceDebug includeExceptionDetailInFaults="false"/>
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<services>
			<service behaviorConfiguration="Utilities.MetadataDNAServiceBehavior" name="Utilities.MetadataDNAService">
				<endpoint address="" binding="wsHttpBinding" contract="Utilities.IMetadataDNAService">
					<identity>
						<dns value="localhost"/>
					</identity>
				</endpoint>
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:8731/Design_Time_Addresses/Utilities/MetadataDNAService/"/>
					</baseAddresses>
				</host>
			</service>
		</services>
		<bindings/>
		<client/>
	</system.serviceModel>
</configuration>
